<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Weather Map App</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.css" />
  <link rel="stylesheet" href="./assets/app.css"/>
  <link rel="stylesheet" href="./assets/weather_icons.css"/>
</head>
<body ng-app="Weather-Map" ng-controller="MapDisplayController as display" style="height: 100%;width: 100%">
  <div class="ui labeled icon left inline vertical very wide sidebar menu uncover" id="sideNav">
    <input type="text" class="inputWidth" id="mapAutocomplete" ng-model="display.city.name" googleplace />
    <div class="buttonDiv"><button  class="ui button" ng-click="display.getWeatherFromCityName(display.city.name)" >What's The Weather Like</button></div>
    <!-- <div>{{display.firstTimeData:'True':'False'}}</div> -->
    <div id="chartCard1" ng-if="display.firstTimeData" class="ui card"><nvd3 options="optionsArea" data="dataArea"></nvd3></div>
    <div id="chartCard2" ng-if="display.firstTimeData" class="ui card"><nvd3 options="optionsPressureLine" data="dataPressureLine"></nvd3></div>
    <div id="chartCard3" ng-if="display.firstTimeData" class="ui card"><nvd3 options="optionsHumidityLine" data="dataHumidityLine"></nvd3></div>

    <div ng-if="display.firstTimeData" id="infoCard" class="ui cards" >
      <div class="card width100cent">
        <div class="content width100cent">
          <div class="header width100cent"><p>{{display.wikiTitle}}</p></div>
          <div class="meta width100cent"><p>Wikipedia</p></div>
          <div class="description">
            <p >
              {{display.placeInformation}}
          </p>
          </div>
        </div>
      </div>
  </div>
  </div>
  <div class="pusher " style="height: 100%">
    <div class="navClass flex-row-space-between">
      <div><button  class="ui button" ng-click="display.toggleSideNav()"><i ng-if="iconClass==='left'" class="angle left icon iconButton"  ></i><i ng-if="iconClass==='right'" class="angle right icon iconButton" ></i></button><span><i class="long arrow left icon"></i>CLICK ME FOR GRAPHS!</span></div>
      <span>Powered by data from <img src="https://openweathermap.org/themes/openweathermap/assets/vendor/owm/img/logo_OpenWeatherMap_orange.svg" id="owmLogo"></span>
    </div>
    <div id="map"></div>
  </div>
</body>

<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQk7VpGvBZom9MLfXbAn2Huf-XPcXk43w&libraries=places&callback=initMap" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.5/nv.d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>
<script src="src/app.js"></script>
<script src="src/AppController.js"></script>
<script src="src/dataFactory.js"></script>
<script src="src/graphConfig.js"></script>

</html>
